:root {
    --typingSpeed: 2s;
    --textColor: #00ca4e;
    --textCharacters: 35;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 50vw;
    height: 80vh;
    background-color: #011522;
    border-radius: 8px;
    min-width: 500px;
    max-width: 1080px;
}

.card-content {
    margin: 15px 0 15px 15px;
    height: 100%;
}

.card-tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.card-circle {
    padding: 0 4px;
}

.card-box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.card-red {
    background-color: #ff605c;
}

.card-yellow {
    background-color: #ffbd44;
}

.card-green {
    background-color: #00ca4e;
}

.profile {
    display: flex;
    flex-direction: row;
}

.video-present {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-text {
    color: var(--textColor);
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.information-text {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 35px;
    margin-right: 35px;
    color: var(--textColor);
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
}

.information-text::before,
.information-text::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.information-text::before {
    background: #011522;
    animation: typing var(--typingSpeed) steps(var(--textCharacters)) 2s forwards;
}

.information-text::after {
    width: 0.125em;
    background: var(--textColor);
    animation:
        typing var(--typingSpeed) steps(var(--textCharacters)) 2s forwards,
        blink 600ms steps(var(--textCharacters)) infinite;
}

@keyframes typing {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

.js-icon {
    height: 15px;
    width: 15px;
    background-color: yellow;
}

.links {
    display: flex;
    align-self: flex-end;
}