:root {
    --typingSpeed: 2s;
    --textColor: #00ca4e;
    --textCharacters: 35;
}

* {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: var(--textColor);
    text-decoration: none;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
}

.card {
    width: 50vw;
    height: 80vh;
    background-color: #011522;
    border-radius: 8px;
    min-height: 700px;
    max-height: 700px;
    min-width: 900px;
    max-width: 1080px;
}

.card-tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.card-circle {
    padding: 0 4px;
}

.card-box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.card-red {
    background-color: #ff605c;
}

.card-yellow {
    background-color: #ffbd44;
}

.card-green {
    background-color: #00ca4e;
}

.card-content {
    margin: 15px;
}

.profile {
    display: flex;
    flex-direction: row;
}

.video-present {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-text {
    margin-top: 15px;
    margin-left: 30px;
    font-size: 17px;
}

.more-content div.background-text,
.more-content div.stack {
    margin-left: 35px;
    margin-right: 25px;
}

.background-text {
    border-radius: 10px;
    background-color: #010c14;
    min-height: 300px;
    max-height: 500px;
}

.information-text {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 17px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
}

.information-text::before,
.information-text::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.information-text::before {
    background: #010c14;
    animation: typing var(--typingSpeed) steps(var(--textCharacters)) 2s forwards;
}

.information-text::after {
    width: 0.125em;
    background: var(--textColor);
    animation:
        typing var(--typingSpeed) steps(var(--textCharacters)) 2s forwards,
        blink 600ms steps(var(--textCharacters)) infinite;
}

@keyframes typing {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

.stack {
    margin-top: 50px;
    font-size: 26px;
}

.stack ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #010c14;
    justify-content: center;
}

.stack ul img {
    height: 50px;
    width: 50px;
    padding-inline: 14px;
}

.links {
    margin-top: 20px;
    margin-left: 30px;
}

.links a {
    display: flex;
    flex-direction: row;
    padding: 8px 8px 0px 0px;
    font-size: 20px;
}

.links a:hover {
    background-color: #004d1d;
}